body {
background: url(images/Background.png);
}

p {
  font-family: "Rum Raisin";
  font-size: 3vw;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  margin: 1vw;
}

a {
    font-family: "Rum Raisin";
    font-size: 2vw;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin: 1vw;
}
  
.filters {
display: block;
position: static;
margin-left: 4vw;
width: 90vw;
height: 7vw;
background: linear-gradient(180deg, #186E7F 0%, #EDB852 121.15%, rgba(184, 130, 32, 0) 160.42%);
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.namesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 
 .championsButton {
  display: flex;
  position: relative;
  width: 18vw;
  height: 18vw;
  justify-content: center;
  align-items: center;
  margin-top: -1vw;
  margin-bottom: 4vw;
	border-radius: 50%;
	overflow: hidden;
  box-shadow: 10px 10px 9px -1px rgba(0, 0, 0, 0.35);
  background-image: conic-gradient(from -70.11deg at 51.25% 45.83%, #000001 -95.25deg, #EDB852 11.33deg, #FFFFFF 67.79deg, #EDB852 138.17deg, #000001 264.75deg, #EDB852 371.33deg);
 }  
  
.championsImages {
  width: 15vw;
  height: 15vw; 
  border-radius: 50%;

  z-index: 1;
}

.header {
width: 100%;
}

.infoContainer {
  width: 40vw;
  height: 60vw;
}

#info {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  margin-top: -10vw;
  align-items: center;
  justify-content: center;
  background-color:  rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.closeButton {
 display: flex;
 align-self: flex-start;
 margin-left: 85%
}

.infoDiv {
  background-color: #0299AC;
  opacity: 90%;
  display: flex;
  width: 30vw;
  height: 70vh;
  flex-direction: row;
  flex-wrap: wrap;
}

.statsContainer {
  display: flex;
  flex-direction: row;
}

.statsDiv {
  display: flex;
  width: 15vw;
  font-size: 80%;

}

.lvlerDiv {
  display: flex;
  width: 15vw;
  font-size: 80%;
}

#modalInfo {
  font-size: 70%;
}

#statsLvlerDiv {
  display: flex;
  font-size: 100%;
}


  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    } }



